<div class="container">
    <h3 mat-dialog-title>Editar {{ENTIDAD}}</h3>
  
    <form class="mat-dialog-content" [formGroup]="alumnoForm">
        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="DNI" formControlName="dni" name="DNI" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Nombre" formControlName="nombre" name="Nombre" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Apellidos" formControlName="apellidos" name="apellidos" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Fecha de nacimiento" formControlName="fecha_nac" name="Fecha nacimiento" maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Linkedin" formControlName="linkedin" name="linkedin" maxlength="100">
            </mat-form-field>
        </div>
  
      <!-- <div class="form">
        <mat-form-field>
          <input matInput placeholder="Nivel de Inglés"
            formControlName="nivel_ingles" maxlength="100" required>
        </mat-form-field>
      </div>
  
      <div class="form" class="minus">
        <label for="slider">Minusvalía: {{
          alumnoForm.get('minusvalia').value }} %</label>
        <input type="range" class="form-range" id="slider"
          formControlName="minusvalia" min="0" max="100" step="1">
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Otra Formación"
            formControlName="otra_formacion" maxlength="100">
        </mat-form-field>
      </div>
   -->
      <div mat-dialog-actions>
        <button mat-button id="onSubmit" type="submit"
          [disabled]="!alumnoForm.valid" (click)="confirmEdit()">Guardar</button>
        <button mat-button id="onNoClick" (click)="onNoClick()"
          tabindex="-1">Cancelar</button>
      </div>
  
    </form>
  </div>