<div class="container">
    <h3 mat-dialog-title>Agregar nuevo {{ENTIDAD}}</h3>

    <form class="mat-dialog-content" [formGroup]="alumnoForm">
        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="DNI" formControlName="dni" name="dni" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Apellidos" formControlName="apellidos" name="apellidos" maxlength="100"
                    required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" name="fecha_nacimiento"
                    maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Linkedin" formControlName="linkedin" name="linkedin" maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-label>Nivel de Inglés</mat-label>
                <mat-select formControlName="nivel_ingles">
                    <mat-option value="">Elija una opción</mat-option>
                    <mat-option *ngFor="let nivel of nivelIngles" [value]="nivel">
                        {{ nivel }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form" id="minusvalia">
            <button mat-button (click)="decrementar()" color="primary">
                <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field color="accent" id="minusvaliaFormField">
                <input matInput placeholder="Minusvalia" formControlName="minusvalia" name="minusvalia" maxlength="100"
                    readonly>
            </mat-form-field>
            <button mat-button (click)="incrementar()" color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Otra formacion" formControlName="otra_formacion" name="otra_formacion"
                    maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="ID Unidad Centro" formControlName="id_unidad_centro" name="id_unidad_centro" maxlength="100" readonly>
            </mat-form-field>
        </div>

        <!-- <div class="form">
            <mat-form-field>
                <mat-label>ID Unidad Centro</mat-label>
                <mat-select formControlName="id_unidad_centro">
                    <mat-option value="">Elija una opción</mat-option>
                    <mat-option *ngFor="let idC of unidadesCentro" [value]="idC.id_unidad_centro">
                        {{idC.unidad_centro }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div mat-dialog-actions>
            <button mat-button id="onSubmit" type="submit" [disabled]="!alumnoForm.valid"
                (click)="confirmAdd()">Guardar</button>
            <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>

    </form>
</div>