<!-- <div class="container">
    <h3 mat-dialog-title>Editar {{ENTIDAD}}</h3>
  
    <form class="mat-dialog-content" [formGroup]="unidadesCentroForm">
  
        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="CP" formControlName="cp" name="cp" maxlength="100">
            </mat-form-field>
          </div>
    
          <div class="form">
              <mat-form-field color="accent">
                  <input matInput placeholder="{{ENTIDAD}}" formControlName="unidad_centro" name="unidad_centro" maxlength="100" required>
              </mat-form-field>
          </div>
    
          <div class="form">
            <mat-form-field>
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="id_provincia">
                    <mat-option value="">Sin provincia</mat-option>
                    <mat-option *ngFor="let idP of provincias" [value]="idP.id_provincia">
                        {{idP.provincia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Teléfono" formControlName="telefono" name="telefono" maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Email" formControlName="email" name="email" maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Web" formControlName="web" name="web" maxlength="100">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput placeholder="Observaciones" formControlName="observaciones" name="Observaciones"></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button id="onSubmit" type="submit" [disabled]="!entidadForm.valid" (click)="confirmEdit()">Guardar</button>
            <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>

    </form>
  </div>