<!-- <div class="container">
    <h3 mat-dialog-title>Editar {{ENTIDAD}}</h3>
  
    <form class="mat-dialog-content" [formGroup]="unidadesCentroForm">
  
        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="CP" formControlName="cp" name="cp" maxlength="100">
            </mat-form-field>
          </div>
    
          <div class="form">
              <mat-form-field color="accent">
                  <input matInput placeholder="{{ENTIDAD}}" formControlName="unidad_centro" name="unidad_centro" maxlength="100" required>
              </mat-form-field>
          </div>


        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput placeholder="Observaciones" formControlName="observaciones" name="Observaciones"></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button id="onSubmit" type="submit" (click)="confirmEdit()">Guardar</button>
            <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>

    </form>
  </div> -->
  <mat-sidenav-container class="datos-entidad-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item mat-list-item (click)="navega('datos-basicos-entidad')"> Entidad </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('contactos-entidad')"> Contactos </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('unidades')"> Ciclos Formativos </mat-list-item>
        </mat-nav-list>
        <button mat-button class="save" (click)="save()">Guardar</button>
        <button mat-button class="onNoClick" (click)="onNoClick()">Cancelar</button>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet name="sidebar"></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>